{% extends "base.html" %}

{% block body %}
<div class="container-fluid mt-5 mb-5">
    <div class="row-4">
            <h2 style="text-align: center;">Jenis sumbangan</h2>
    </div>
        <div class="row-5">
            <table id="tablepagination" class="table table-bordered table-hover" style="width:100%">
                <thead>
                  <tr>
                    <th scope="col" style="text-align: center;">No</th>
                    <th scope="col" style="text-align: center;">Nama</th>
                    <th scope="col" style="text-align: center;">Jenis Sumbangan</th>
                    <th scope="col" style="text-align: center;">Jumlah <font size="1">(kg/liter/pcs/lainnya)</font></th>
                  </tr>
                </thead>
                <tbody>
                    {% for c in data %}
                  <tr>
                    <th scope="row" style="text-align: center;">{{ c.nomer }}</th>
                    <td>{% if c.gender == TRUE %}Bapak {% else %}Ibu {% endif %}{{ c.name }}</td>
                    <td>{{ c.j_id }}</td>
                    <td>{{ c.jumlah }}</td>
                  </tr>
                  {% endfor %}  
                </tbody>
              </table>
            
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
    $('#tablepagination').DataTable();
} );
    
</script>
{% endblock %}
